.scrollAnimation {
    opacity: unset !important;
    visibility: unset !important;
    transform: unset !important;
}

.rpc-gallery-inner {
    max-height: 50vh;
    overflow: scroll;
}


.alignnormal {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
