.button {
  padding: 0.65em 1.5em 0.45em 1.5em;
  border: 0.2em var(--bordercolor) solid;
  letter-spacing: 0.05em;
  border-radius: 0.15em;
  display: block;
  background-color: var(--backgroundcolor);
  color: var(--textcolor);
  box-sizing: border-box;
  font-family: "Replica";
  text-align: center;
  text-transform: uppercase;
  line-height: 0.8;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  --bordercolor: var(--backgroundcolor);
  --backgroundcolor: var(--prim);
  --textcolor: white;

  transition: 0.125s ease filter, 0.125s ease opacity;
}

.button:hover {
  -webkit-filter: brightness(1.15);
  filter: brightness(1.15);
}

.button.neg {
  --bordercolor: var(--backgroundcolor);
  --backgroundcolor: white;
  --textcolor: var(--prim);
}

.button.black {
  --bordercolor: var(--backgroundcolor);
  --backgroundcolor: black;
  --textcolor: white;
}

.button.line {
  --bordercolor: var(--backgroundcolor);
  background-color: transparent;
  --textcolor: var(--backgroundcolor);
}

.button.neg:hover,
.button.line:hover,
.button.black:hover {
  opacity: 0.8;
}

.button.arrow::after {
  content: "\203a";
  font-size: 1.5em;
  line-height: 0;
  margin-left: 0.15em;
  display: inline-block;
  transition: 0.125s ease transform;
}

.button.arrow:hover::after {
  transform: translateX(0.15em);
}
