html {
  font-family: "NimbusSanNov", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Replica", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: min(0.3em, 27px);
}

p + p {
  margin-top: 0.75rem;
}

body.page #main-content a {
    color: var(--prim);
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.75rem;
    color: var(--accent);
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5,
h6 {
    font-size: 1.5rem;
}