@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "root.scss";

@import "typography/typo.scss";

@import "components/style.scss";

@import "templates/style.scss";
@import "utils/style.scss";

html {
    overflow-x: hidden;
}

:target {
    padding-top: 5vh;
}

.target-wrapper:target {
    padding-top: 1px;
}
