#error-container h1 {
    font-size: 12rem;
}

@media screen and (max-width: 480px) {
    #error-container h1 {
        font-size: 9rem;
    }

    #error-buttons {
        flex-direction: column;
    }

    #error-buttons a {
        width: 100%;
    }
}