.positions-grid {
  gap: 1rem;
}

.positions-grid .position {
  width: calc(50% - 0.5rem);
  box-sizing: border-box;
}

.positions-grid .position.fullwidth {
  width: 100%;
}

.PositionWrapper {
  position: relative;
  padding-bottom: 100%;
}

.position-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.positions-grid .position.position.fullwidth .PositionWrapper {
  padding-bottom: calc(50% - 0.5rem);
}

.positions-grid .position.position .button {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
}

.positions-image-container {
  position: relative;
  padding-bottom: calc(100% / 10 * 3);
  margin-top: calc((100% / 10 * 3 * -1) * 0.66);
  z-index: -1;
}

.positions-image-container * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.positions-image-container img {
  object-fit: cover;
}

.positions-image-container #positions-image-blind {
  background: white;
  mix-blend-mode: saturation;
}
