.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap);
  --gap: 3rem;
}

.columns > div {
  width: calc(
    100% / var(--colnum) - (((var(--colnum) - 1) * var(--gap)) / var(--colnum))
  );
}

.columns.cols-3 > div {
  --colnum: 3;
}

.columns.cols-2 > div {
  --colnum: 2;
}

.columns.layout-1_2 > div:first-child {
  width: calc((100% / 3) - (var(--gap) / 2));
}

.columns.layout-1_2 > div:nth-child(2) {
  width: calc((100% / 3 * 2) - (var(--gap) / 2));
}

.columns.layout-2_1 > div:first-child {
  width: calc((100% / 3 * 2) - (var(--gap) / 2));
}

.columns.layout-2_1 > div:nth-child(2) {
  width: calc((100% / 3) - (var(--gap) / 2));
}
