.rpc-button {
    padding: 1em 1.5em 0.85em 1.5em;
    border: 0.2em var(--bordercolor) solid;
    letter-spacing: 0.05em;
    display: block;
    background-color: var(--backgroundcolor);
    color: var(--textcolor);
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 0.8;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    --bordercolor: var(--backgroundcolor);
    --backgroundcolor: var(--prim);
    --textcolor: white;

    transition: 0.125s ease filter, 0.125s ease opacity;

    &:hover {
        filter: brightness(1.15);
    }

    &.negative {
        --bordercolor: var(--backgroundcolor);
        --backgroundcolor: white;
        --textcolor: var(--prim);
    }

    &.black {
        --bordercolor: var(--backgroundcolor);
        --backgroundcolor: black;
        --textcolor: white;
    }

    &.line {
        --bordercolor: var(--backgroundcolor);
        background-color: transparent;
        --textcolor: var(--backgroundcolor);
    }

    &.negative:hover,
    &.black:hover,
    &.line:hover {
        opacity: 0.8;
    }

    &.arrow {
        &::after {
            content: "\203a";
            font-size: 1.5em;
            line-height: 0;
            margin-left: 0.15em;
            display: inline-block;
            transition: 0.125s ease transform;
        }

        &:hover::after {
            transform: translateX(0.15em);
        }
    }
}
