@import "./loader.scss";

.rpc-step-wrapper:not(.hidden),
.rpc-form:not(.hidden) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    --gap: 1.5rem;
    --columns: 2;
    --width: calc((100% - (var(--columns) - 1) * var(--gap)) / var(--columns));

    @media (max-width: 980px) {
        --columns: 1;
    }

    .rpc-input-wrapper {
        width: var(--width);

        &.fullwidth {
            width: 100%;
        }
    }
}

.rpc-input-wrapper label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: bold;
    color: var(--form-color, white);
}

.rpc-input-wrapper {

    input,
    textarea {
        width: 100%;
        box-sizing: border-box;
        border: none;
        border-bottom: 3px solid var(--form-color, white);
        background-color: transparent;
        padding: 0.5em 0;
        outline: none;
        color: var(--form-color, white);
    }
}

.rpc-input-wrapper.type-checkbox {
    display: flex;

    &+& {
        margin-top: -1rem;
    }
}

.rpc-input-wrapper.type-checkbox label {
    width: 100%;
    font-weight: normal;
    cursor: pointer;

    a {
        text-decoration: underline;
    }
}

.rpc-input-wrapper.type-checkbox input[type="checkbox"]+label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f0c8";
    letter-spacing: 10px;
    cursor: pointer;
}

.rpc-input-wrapper.type-checkbox input[type="checkbox"]:checked+label:before {
    content: "\f14a";
}

.rpc-input-wrapper.type-checkbox label.font-bold {
    font-weight: bold;
}
