.StepWrapper:not([hidden]) {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.input-wrapper {
  width: calc(50% - 0.75rem);
}

.input-wrapper.fullwidth {
  width: 100%;
}

.input-wrapper label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: bold;
  color: var(--form-color);
}

.input-wrapper input, textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid var(--form-color);
  background-color: transparent;
  padding: 0.5em 0;
  outline: none;
  color: var(--form-color);
}

form {
    --form-color: white;
}

form.rpc-form-neg {
    --form-color: #000;
}

.input-wrapper.checkbox {
  display: flex;
}

.input-wrapper.checkbox label {
  width: 100%;
  font-weight: normal;
  cursor: pointer;
}

.input-wrapper.checkbox input[type="checkbox"] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f0c8";
  letter-spacing: 10px;
  cursor: pointer;
}

.input-wrapper.checkbox input[type="checkbox"]:checked + label:before {
  content: "\f14a";
}

.input-wrapper.checkbox label.font-bold {
  font-weight: bold;
}
