.rpc-toggle-details {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 2px;
    transition: 0.25s ease background-color;
    margin-top: -2px;
    @apply py-4 px-2;

    summary {
        .ppv-content-toggle-title {
            max-width: 80%;
            line-height: 1.35;
        }

        list-style: none;
        cursor: pointer;
        color: black;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    .rpc-toggle-icon {
        height: fit-content;
        transition: 0.25s ease transform;
        @apply text-primary
    }

    &[open] {
        background-color: white;
        @apply bg-primary bg-opacity-10;

        .rpc-toggle-summary {
            font-weight: 700;
            color: theme('colors.primary');
        }

        .rpc-toggle-icon {
            transform: rotate(-180deg);
        }
    }
}
