.rpc-toggle-details {
    width: 100%;
    border: 2px solid var(--prim);
    border-radius: 2px;
    padding: 1rem;
    background-color: var(--prim);
    transition: 0.25s ease background-color;

    summary {
        list-style: none;
        cursor: pointer;
        color: white;
        font-weight: bold;
    }
    summary::-webkit-details-marker {
        display: none;
    }

    .rpc-toggle-icon {
        font-size: 4rem;
        height: 1.25rem;
        width: 1.25rem;
        line-height: 0.28;
        transform-origin: 0.65rem 0.65rem;
        transform: rotate(90deg) translateY(-5px);
        transition: 0.25s ease transform;
    }

    &[open] {
        background-color: white;

        .rpc-toggle-summary {
            color: var(--accent);
        }

        .rpc-toggle-icon {
            transform: rotate(-90deg) translateY(-10px);
        }

        .rpc-toggle-content {
            color: black
        }
    }
}